RewriteEngine On
RewriteBase /public/

# Redirigir todas las solicitudes que no sean archivos o directorios existentes al archivo index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]